.shoppingCart{
    min-height: 100vh;
}
.shoppingCart .container{
    background-color: #fff;
}
.shoppingCart img{
    width: 150px;
}
.shoppingCart .quantity i {
    padding: 6px 8px;
    font-size: 14px;
}
.shoppingCart .quantity i:hover{
    cursor: pointer;
}
.shoppingCart .info i{
    padding: 6px 12px;
    font-size: 14px;
}
.shoppingCart .info i:hover{
    cursor: pointer;
}
@media only screen and (max-width: 576px) {
    .shoppingCart .quantityCtn {
      width: 100%;
    }
  }
/*  */
