body{
    font-family: sans-serif;
    color: #fff;
}
.userName{
	font-size: 24px;
  }
.title{
    background-color: #0481ff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
.title p{
    margin-top: 15px;
}
.title span{
    margin-bottom: 50px;
}
.count p{
    margin: 0;
}
.box{
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 10px;
}
.box i{
    font-size: 40px;
}
.box span{
    font-size: 30px;
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
    overflow-x: auto;
} 
th{
    border-radius: 8px;
    background-color: #0080ff;
}
td,
tr{
background-color: rgb(43, 69, 96);
height: 50px;
border-radius: 8px;
}
.price{
    background-color: #008000;
    padding: 5px;
    border-radius: 10px;
}
#removeLink{
    visibility: hidden;
}