.mainImg{
    width: 40%;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
}
.productOverlay .active{
	background-color: rgba(12, 0, 2, 0.696);
	padding: 5px;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 80px;
    cursor: pointer;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
	opacity: 0.9;
    letter-spacing: 1px;
}
.mainCtn .active{
	border: rgba(12, 0, 2, 0.326) 2px solid;
	padding: 5px;
}